


*{
	font-family: tahoma;
	box-sizing: border-box;
	font-size: 15px;
}
body{
	background-color:  lightgreen;
}

label:first-child {
	/*width: 200px;*/
	
}
label{
	font-weight: bold;
}
		
fieldset {
	/*width: 700px;*/
	border-radius: 5px;
	
}
input {
	border-radius: 5px;
	height: 30px;
	margin: 2px;
}


sup {
	color: #76404E;
	font-style: normal;
}
#gender{
	border-radius: 5px;
	height: 30px;
}
#register{
	/*background:url(img/register-icon.png);*/
	/*background-color: #e0ffff;*/
	/*background-repeat: no-repeat;*/
	/*background: scroll;*/
	/*background-size: 7px 7px;*/
	/*padding-left: 20px;*/
}


/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
*/

 /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

@media only screen and (min-width: 768px) {
   /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	body{
		background-color: lightblue;
	}

	label:first-child {
	width: 200px;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	text-align: right;
	}
	fieldset {
	width: 700px;
	margin: 10px;	
	}
	.input-style{
	width: 50%;
	}
	.set-margin{
	margin-left: 200px;
}
}	