.red_i{
	color: red;
	font-style: italic;
}
.red{
	color: red;
}
#green{
	color: green;
}
ul.a{
	list-style-type: circle;
	font-family: consolas;
}
ul{
	font-family: consolas;
}
h1{
	text-align: center;
}